*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.rectangle{
    width: 25vw;
    height: 60vh;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 2);
    background: #a5bbdd;
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
    min-width: 20rem;
    min-height: 35rem;

}
.wave{
height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
}


.wave-one {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    width: 100rem;
    height: 50rem;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    
  }
  

  
  @keyframes wave{
      0% {transform: translateX(0);}
      50% {transform: translateX(-25%);}
      100% {transform: translateX(-50%);}
  }
  
.temp{
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
}
.tempmin_max{
    text-align: center;
    margin-top: 0.3rem;
    font-weight: 300;
    font-size: 1.2rem;
    color: #080808;

}
.location{
    font-size: 4rem;
    font-weight: 300;
    color: black;

}
body > span{
    width: 100vw;
    text-align: center;
    color: grey;
}
.info{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    z-index: 4;
}
.inputData{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputField{
    width: 50%;
    margin: auto;
    border-radius: 5rem;
    padding: 1rem 1rem;
    outline: none;
    font-size: 1.5rem;
    align-items: center;
}
.errorMsg{
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
}